/* ==== CSS === */

body {
  font-family: "Arial", san-serif;
  font-size: 1.2em;
  color: white;
  text-shadow: 1px 1px 1px #000000;
  background-image: url('https://wallpaperaccess.com/full/343358.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

/*Ping Website Loader CSS*/
.ping {
	--uib-size: 45px;
	--uib-speed: 2s;
	--uib-color: black;
  
	position: relative;
	height: var(--uib-size);
	width: var(--uib-size);
  }
  
  .ping::before,
  .ping::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	background-color: var(--uib-color);
	animation: pulse var(--uib-speed) linear infinite;
	transform: scale(0);
	opacity: 0;
  }
  
  .ping::after {
	animation-delay: calc(var(--uib-speed) / -2);
  }
  
  @keyframes pulse {
	0% {
	  transform: scale(0);
	  opacity: 1;
	}
	100% {
	  transform: scale(1);
	  opacity: 0;
	}
  }
  

#outside {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  font-family: "Arial", san-serif;
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
  padding-left: 40px;
  padding-right: 40px;
}

/* ==== Email Contact Integration w/ Formspree === */

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 70%;
  /* To see the limits of the form */
  padding: 1em;
  border: 1px solid black;
  background-color: black;
  background-image: url('https://wallpaperaccess.com/full/343358.jpg');
  border-radius: 1em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  opacity: 90%;
}

#survey-form {
  background-color: white;
  border-radius: 2px;
}

fieldset { 
  border: 1px solid lightgray;
  margin: 10px;
  border-radius: 2px;
 }

legend {
  font-weight: 700;
}

#number {
  width: 150px;
}

div + div {
  margin-top: 1em;
  }

/* label {
  /* To make sure that all label have the same size and are properly align */
  /* display: inline-block; */
  /* width: 80px; */
  /* text-align: right; */
 /*/

input, textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font */
  /* font: 1em sans-serif; */

  /* To give the same size to all text field */
  {
	width:200px;
}

/*   -moz-box-sizing: border-box;
       box-sizing: border-box; */

  /* To harmonize the look & feel of text field border */
{border: 1px solid #999;
  border-radius: 2px;
}



input:focus, textarea:focus {
  /* To give a little highligh on active elements */
  border-color: red;
}

textarea {
  /* To properly align multiline text field with their label */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 5em;

  /* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
  resize: vertical;
}


.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  margin: .5em;
  font-size: .7em;
  text-transform: capitalize;
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 2px;
  color: white;
  text-shadow: 1px 1px 1px #000000;
  box-shadow: 1px 1px 1px #000000;
}

#submitbutton {
  display: flex; 
  justify-content: center;
}

#title {
  font-family: Arial,monaco,monospace; 
}

#description {
  font-family: Arial,monaco,monospace; 
  font-size: .7em;
  padding-left: 30px;
  padding-right: 30px;
}


/* ==== Repsonsive Text for Mobile under Accordion === */

@media only screen and (min-width: 410px) {

  .myText .content { 
    font-size: .05vw;
	  padding-left: 40%;
	  padding-right: 40%;
	  text-justify: auto;
   }

	.myText .content {
		font-size: 1vh;
		padding-left: 40px;
		padding-right: 40px;
		text-justify: auto;
	}
	
	/*#footer .footer{
		font-size: .025vw;
		padding-left: .025vw;
		padding-right: .025vw;
		text-justify: auto;
		
	}*/
	
	
	/*Repsonsive Pointer to the Typerwriter welcome message*/
	
	.typewrite {
		font-size: .25vw;
	}
	
}


/* ==== The Feed - Cards using Bootstrap === */

#cards .card {
    border-radius: 20px;
    min-height: 100%;
}

#cards .heading-border {
    position: absolute;
    width: 100%;
    top: 60%;
}

#cards .card .user-picture img {
    position: absolute;
    top: -20%;
    right: 10%;
    background: #f8f9fa!important;
    padding: 10px;
}

#cards .card .user-content .user-name {
    margin-right: 150px;
}

/*The below is the rotatry css styling */
#pre{

	 display: flex; .
            justify-content: center; 
            color: white;
			font-size: 40px; 
			
}

/*NEW GREETING ANIMATION*/
@import url("https://fonts.googleapis.com/css?family=Lato");

.imported {
  content: "yay, file support!";
}

.selector {
  margin: 1em;
  background-color: #f60;
}

.selector .nested {
  margin: 0.5em;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60px;
	width: 50%;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	line-height: 40px;
	color: #ecf0f1;
	text-align: center;
}

.content__container {
	font-weight: 500;
	overflow: hidden;
	position: hidden;
	height: 40px;
	display: inline-block;
	flex-wrap: wrap;
	text-align: center;
	justify-content: flex-start;*/
	
}

.content__container:before {
	content: '[';
	left: 0px;
	padding: 0px;
	position: absolute;
	margin-left: 2vw;
	margin-right: 2vw;
	
}

.content__container:after {
	content: ']';
	position: absolute;
	right: 0vw;
	padding: 0vw;
	margin-left: 2vw;
	margin-right: 2vw;
	
}

.content__container:after, .content__container:before {
	position: absolute;
	top: 0;
	color: #16a085;
	font-size: 42vw;
	line-height: 40vw;
	-webkit-animation-name: opacity;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	animation-name: opacity;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.content__container__text {
	float: left;
	margin: 0;
	font-size: 1.75vw;
	/*text-align: left;*/
	margin-left: 140px;
	justify-content: flex-start;
	font-family: 'Lato', sans-serif;
	white-space: nowrap; 
}

.content__container__list {
	margin-top: 0px;
	margin-bottom: 0px;
	position: absolute;
	padding-left: 50px;
	list-style: none;
	overflow: hidden;
	position: hidden;
	float: left;
	display: inline-block;
	margin-left: 385px;
	overflow-wrap: normal;
	white-space: nowrap;
	font-size: 1.75vw;
	
	-webkit-animation-name: change;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	animation-name: change;
	animation-duration: 25s;
	animation-iteration-count: infinite;
}

.content__container__list__item {
	line-height: 40px;
	min-width: 500px;
	min-height: auto;
	margin: 0;
	font-size: 1.75vw;
	overflow: hidden;
	position: hidden;
	display: inline-block;
	overflow-wrap: nowrap;
	
}


/* ==========================================
    FOR DEMO PURPOSE
  ========================================== */




/*KEYFRAMES: New Greeting*/
@-webkit-keyframes opacity {
	0%, 100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

@-webkit-keyframes change {
	0%, 12.66%, 100% {
		transform: translate3d(0, 0, 0);
	}

	16.66%, 29.32% {
		transform: translate3d(0, -25%, 0);
	}

	33.32%, 45.98% {
		transform: translate3d(0, -50%, 0);
	}

	49.98%, 62.64% {
		transform: translate3d(0, -75%, 0);
	}

	66.64%, 79.3% {
		transform: translate3d(0, -50%, 0);
	}

	83.3%, 95.96% {
		transform: translate3d(0, -25%, 0);
	}
}

@-o-keyframes opacity {
	0%, 100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

@-o-keyframes change {
	0%, 12.66%, 100% {
		transform: translate3d(0, 0, 0);
	}

	16.66%, 29.32% {
		transform: translate3d(0, -25%, 0);
	}

	33.32%, 45.98% {
		transform: translate3d(0, -50%, 0);
	}

	49.98%, 62.64% {
		transform: translate3d(0, -75%, 0);
	}

	66.64%, 79.3% {
		transform: translate3d(0, -50%, 0);
	}

	83.3%, 95.96% {
		transform: translate3d(0, -25%, 0);
	}
}

@-moz-keyframes opacity {
	0%, 100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

@-moz-keyframes change {
	0%, 12.66%, 100% {
		transform: translate3d(0, 0, 0);
	}

	16.66%, 29.32% {
		transform: translate3d(0, -25%, 0);
	}

	33.32%, 45.98% {
		transform: translate3d(0, -50%, 0);
	}

	49.98%, 62.64% {
		transform: translate3d(0, -75%, 0);
	}

	66.64%, 79.3% {
		transform: translate3d(0, -50%, 0);
	}

	83.3%, 95.96% {
		transform: translate3d(0, -25%, 0);
	}
}

@keyframes opacity {
	0%, 100% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

@keyframes change {
	0%, 12.66%, 100% {
		transform: translate3d(0, 0, 0);
	}

	16.66%, 29.32% {
		transform: translate3d(0, -25%, 0);
	}

	33.32%, 45.98% {
		transform: translate3d(0, -50%, 0);
	}

	49.98%, 62.64% {
		transform: translate3d(0, -75%, 0);
	}

	66.64%, 79.3% {
		transform: translate3d(0, -50%, 0);
	}

	83.3%, 95.96% {
		transform: translate3d(0, -25%, 0);
	}
}